
<div class="container text-center">
     
    <div class="myhome">
        <p>Welcome </p>
 <h2> <strong>please click here to add your task</strong></h2>
 <strong><a href="/add">+AddToDo</a></strong> 
    </div>
 

</div>