 
 
<div class="container">
  <form class="form-signin" role="form" action="/register" method="post",style='max-width: 300px;'>
    <h2 class="form-signin-heading"> Sign Up here</h2>
    <input class="form-control" type="text" name="name" placeholder="Your Name"/>
    <label class="sr-only" for="inputEmail"></label>
    <input class="form-control" type="text" name="username" id="inputEmail" placeholder="Username" required="required" autofocus="autofocus"/>
    <input class="form-control" type="email" name="email" placeholder="Your Ema"/>
    <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
  </form>
</div>
       